@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #caf0f8;
}

.header {
	padding: 0.6rem 0;
	background-color: #00b4d8;
	color: #03045e;
}

.header .logo {
	font-size: 1.1rem;
	text-align: center;
	width: 100%;
	display: block;
}

.chat-section {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 88vh;
	margin-top: 1rem;
}

.chat-name {
	background-color: #90e0ef;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	border-radius: 4px;
	padding: 0.5rem 0.8rem;
}

.chat-name .user-info {
	width: 100%;
	padding: 0.6rem 0.5rem;
	border-radius: 4px;
	background-color: #caf0f8;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chat-name .user-info span {
	color: #03045e;
	font-size: 1.2rem;
	font-weight: bold;
}

.chat-name .user-info .logout-btn {
	cursor: pointer;
	border: none;
	border-radius: 4px;
	padding: 0.4rem 0.7rem;
	font-size: 0.9rem;
	background-color: rgb(218, 3, 3);
	color: white;
	transition: all 0.3s ease-in-out;
}

.chat-name .user-info .logout-btn:hover {
	background-color: rgb(150, 3, 3);
	color: white;
}

.chat-name .online-users {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	height: calc(100% - (40px + 30px));
	overflow-y: auto;
}

.chat-name .online-users .show-online-user {
	width: 100%;
	font-size: 1.2rem;
	text-align: center;
	padding: 0.4rem 0;
	border-radius: 4px;
	color: #03045e;
	background-color: #caf0f8;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.chat-name .online-users .show-online-user:hover {
	background-color: #00b4d8;
	color: #03045e;
}

.chat-area {
	margin-right: 1rem;
	border-radius: 4px;
	background-color: #90e0ef;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 8% calc(100% - 15%) 7%;
}

.chat-area .others-username {
	background-color: #03045e;
	display: flex;
	align-items: center;
	padding-left: 1rem;
	color: #caf0f8;
	letter-spacing: 0.02rem;
	border-radius: 4px 4px 0 0;
}

.chat-area .user-info {
	display: none;
}

.chat-area .msg-container {
	padding: 0.5rem 0;
	overflow-y: auto;
	border: 2px solid #90e0ef;
}

.chat-area .msg-container .outgoing-msg {
	display: flex;
	justify-content: end;
	margin-bottom: 0.5rem;
}

.chat-area .msg-container .outgoing-msg .sender {
	max-width: 70%;
	background-color: #caf0f8;
	border-radius: 4px 0 0 4px;
	padding: 0.2rem 0;
	padding-left: 0.5rem;
	padding-right: 0.2rem;
}

.chat-area .msg-container .outgoing-msg .sender .sender-name {
	font-size: 0.8rem;
	font-weight: bold;
	color: #03045e;
	word-break: break-all;
}

.chat-area .msg-container .update-user {
	font-size: 0.9rem;
	font-style: italic;
	text-align: center;
	color: #caf0f8;
	width: max-content;
	margin: 0.2rem auto;
	padding: 0.1rem 0.7rem;
	border-radius: 4px;
}

.chat-area .msg-container .incoming-msg {
	display: flex;
	justify-content: start;
	margin-bottom: 0.5rem;
}

.chat-area .msg-container .incoming-msg .receiver {
	max-width: 70%;
	background-color: #00b4d8;
	border-radius: 0 4px 4px 0;
	padding: 0.2rem 0;
	padding-right: 0.5rem;
	padding-left: 0.2rem;
}

.chat-area .msg-container .incoming-msg .receiver .receiver-name {
	font-size: 0.8rem;
	font-weight: bold;
	color: #03045e;
	word-break: break-all;
}

.chat-area .form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chat-area .form .message {
	flex-grow: 1;
	height: 100%;
	font-size: 1.3rem;
	padding: 0 0.5rem;
	border-radius: 0 0 0 4px;
	border: none;
	outline: none;
}

.chat-area .form .msg-send-btn {
	height: 100%;
	padding: 0 1rem;
	font-size: 1.2rem;
	border-radius: 0 0 4px 0;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #00b4d8;
	color: #03045e;
	transition: all 0.3s ease-in-out;
}
.chat-area .form .msg-send-btn:hover {
	background-color: #03045e;
	color: #caf0f8;
}

@media (max-width: 450px) {
	.header {
		padding: 0.5rem 0.6rem;
	}

	.header .logo {
		font-size: 1.2rem;
	}

	.chat-section {
		grid-template-columns: 100%;
		grid-template-rows: 93vh;
		margin-top: 0;
	}

	.chat-name {
		display: none;
	}

	.chat-area {
		grid-template-rows: 8% calc(100% - 15%) 7%;
		margin-right: 0;
	}

	.chat-area .others-username {
		display: none;
	}

	.chat-area .user-info {
		display: none;
	}

	.chat-area .user-info {
		width: 100%;
		padding: 0 0.5rem;
		background-color: #03045e;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.chat-area .user-info span {
		color: #caf0f8;
		font-size: 1.1rem;
		font-weight: bold;
	}

	.chat-area .user-info .logout-btn {
		cursor: pointer;
		border: none;
		border-radius: 4px;
		padding: 0.4rem 0.7rem;
		font-size: 0.9rem;
		background-color: rgb(218, 3, 3);
		color: white;
		transition: all 0.3s ease-in-out;
	}

	.chat-area .user-info .logout-btn:hover {
		background-color: rgb(150, 3, 3);
		color: white;
	}

	.chat-area .msg-container .outgoing-msg {
		margin-bottom: 0.4rem;
	}

	.chat-area .msg-container .outgoing-msg .sender .sender-name {
		font-size: 0.8rem;
	}

	.chat-area .msg-container .update-user {
		font-size: 0.8rem;
	}

	.chat-area .msg-container .incoming-msg .receiver .receiver-name {
		font-size: 0.8rem;
	}
}
